@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
@if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")
{
    <h3>Host Information</h3>
    <b>HostName:</b> @ViewData["HOSTNAME"]<br />
    <b>OS Architecture:</b> @ViewData["OSARCHITECTURE"]<br />
    <b>OS Description:</b> @ViewData["OSDESCRIPTION"]<br />
    <b>Process Architecture:</b> @ViewData["PROCESSARCHITECTURE"]<br />
    <b>Framework Description:</b> @ViewData["FRAMEWORKDESCRIPTION"]<br />
    <b>ASP.NET Hosting Environment:</b> @ViewData["ASPNETCORE_ENVIRONMENT"]<br />

    <h3>Environment Variables:</h3>
    @Html.Raw(ViewData["ENV_VARS"])
}
